.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

th{
    text-align:center;
    border: 1px solid #ddd;
}

td,tr{
    align-content:center;
    text-align:center;
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    height: 70px;
}

